.control-pannel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .measure {
    position: absolute;
    height: 41px;
    cursor: pointer;
  }
  
  .measure:hover {
    background: orange;
    opacity: .3;
  }
}